/**
 * @file styles.css
 *
 * @brief deze pagina zorgt voor de style van de website.
 *
 * Het menu hoeft maar één keer bewerkt te worden, dan wordt hij overal aangepast.
 */

/*Begin Navigatiebar boven aan de website*/

.navbar {
    overflow: hidden;
    background-color: grey;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #ddd;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}
/*Einde Navigatiebar boven aan de website*/

body{
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

#fietsentoevoegen{
    margin: 10px;
}

#fietsenbewerken{
    float: left;
}

.afbeelding_foto_bewerken{
    float: left;

}

/* Begin faq css */
.page .page-part {
    overflow: hidden;
    padding: 5px 20px;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.page p{
    display: block;
    margin: 20px 10px;
    color: black;
    font-size: 18px;
}

.content p, .page .Answer {
    -webkit-transition: height 	0.5s;
    -moz-transition:    height 	0.5s;
    -ms-transition:     height 	0.5s;
    -o-transition:      height 	0.5s;
    transition:         height 	0.5s;
}

.page .Answer {
    display: block;
    overflow: hidden;
    background-color: lightgrey;
    margin: 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page .vraag {
    color: dodgerblue;
    font-size: 15px;
}
/*einde faq css*/

/* blok fiets */
.fiets_blok{
    width: 30%;
    margin-left: 2%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
    display: block;
    }

.fiets_blok h1{
    text-align: center;
    font-size:2vw;
}

.fiets_blok h4{
    text-align: center;
    font-size: large;
}

.fiets_blok a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.fiets_blok img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin-left:  auto;
    margin-right: auto;

}
.afbeeldingDiv {
    width: 80%;
    padding-bottom: 80%;
    margin-left:  auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
/* einde blok fiets */

/* begin img's css */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding:1px;
    border:1px solid #021a40;
    background-color: dimgrey;

}

/* einde img's css */

/* begin profiel.php */
.mijn_profiel_text  {
    text-align: center;
}


.mijn_profiel_links a:link, a:visited {
    background-color: #4CAF50;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-color: lightgreen;

}

.mijn_profiel_links a:hover, a:active {
    background-color: lightgreen;
}

.mijn_profiel_links {
    width: 60%;
    padding: 10px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    color: white;

}

/* einde profiel.php */

/* begin profiel_mijnfietsen */

.profiel_fiets  {
    width: 30%;
    margin-left: 2%;
    margin-top: 1%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;

}

#profiel_fiets_button{
    text-align: center;
}

.profiel_css h1{
    text-align: center;
}

.profiel_fiets h1{
    text-align: center;
    font-size: 3vw;
}

.profiel_fiets_text h2{
    text-align: center;
    font-size:2vw;
}

.profiel_fiets_text h1{
    text-align: center;
    }

.profiel_fiets h4{
    text-align: center;
    font-size: large;
}

.profiel_fiets a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 25%;
    display:inline-block;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.profiel_fiets img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    margin-left:  auto;
    margin-right: auto;

}
.afbeeldingDiv {
    width: 50%;
    padding-bottom: 50%;
    margin-left:  auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

/* einde profiel_mijnfietsen */

/* begin reviews */

.date {
    border-color: black;
    text-align: center;
}

.comment p  {

    border-color: black;
    text-align: center;
}

.formpje form   {
     text-align: center;
 }



/* einde reviews */

/* begin hoofdpagina tekst */
#tekstHoofdpagina h1{
    text-align: center;
}
#tekstHoofdpagina{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#buttonLaadMeer {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;

}
#buttonPage{
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

#filter{
    float: left;
    width: 19%;
    height: auto;
    margin-top: 1%;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: auto;
    position: fixed;
    display: none;
    text-align: center;
}

#bodyFietsen{
    width: 100%;
    float: right;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    }

#homepagina_button{
    text-align: center;
}

/* hoofdpagina tekst */

#fiets{
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

#fiets h1{
    text-align: center;
}

#specificaties{
    width: 45%;
    float: left;

}

#ophaallocatie{
    width: 100%;
    float: left;

}

#omschrijving_scroll{
    height: 100px;
    width: 100%;
    overflow:auto;
}

#linksKolom{
    width: 50%;
    float: left;

}

#linksKolom img{
    width:100%;
    float: left;
}
#rechtsKolom{
    width: 50%;
    float: right;

}

.wrapper {
  margin-right: auto;
  margin-left:  auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px;
}

.titel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left:  10px;
}

.titel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

/* Begin leen_verzoek */

#leen_verzoeken table {
  width: 100%;
  border: 1px solid black;
  table-layout: fixed;
}

#leen_verzoeken tr {
  width: 100%;
}

#leen_verzoeken th {
  border: 1px solid black;
  vertical-align: middle;
  width: 14.28%;
  word-wrap: break-word;
}

#leen_verzoeken td {
  border: 1px solid black;
  vertical-align: middle;
  width: 14.28%;
  word-wrap: break-word;
}

#leen_verzoek td img {
  width: 10px;
  height: auto;
}

.wordBreakDownButton {
  white-space: normal;
  word-wrap: break-word;
}

/* Einde leen_verzoek */

.knoppen  a{
    color: white;
}