/**
 * @file styles.css
 *
 * @brief deze pagina zorgt voor de style van de website.
 *
 * Het menu hoeft maar één keer bewerkt te worden, dan wordt hij overal aangepast.
 */

/*Begin Navigatiebar boven aan de website*/

.navbar {
    overflow: hidden;
    background-color: grey;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #ddd;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}
/*Einde Navigatiebar boven aan de website*/

body{
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

#fietsentoevoegen{
    margin: 10px;
}

#fietsenbewerken{
    float: left;
}

.afbeelding_foto_bewerken{
    background-color: red;
    float: left;

}

/* Begin faq css */
.page .page-part {
    overflow: hidden;
    padding: 5px 20px;
    background-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.page p{
    display: block;
    margin: 20px 10px;
    color: black;
    font-size: 18px;
}

.content p, .page .Answer {
    -webkit-transition: height 	0.5s;
    -moz-transition:    height 	0.5s;
    -ms-transition:     height 	0.5s;
    -o-transition:      height 	0.5s;
    transition:         height 	0.5s;
}

.page .Answer {
    display: block;
    overflow: hidden;
    background-color: lightgrey;
    margin: 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page .vraag {
    color: dodgerblue;
    font-size: 15px;
}
/*einde faq css*/

/* blok fiets */
.fiets_blok{
    width: 30%;
    margin-left: 3%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    float: left;
}

.fiets_blok h1{
    text-align: center;
}

.fiets_blok a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 50%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.fiets_blok img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
/* einde blok fiets */